.body-color-gray{
	background-color: #F6F7FB;
}
.gray_card{
	min-width: 684rpx;
	min-height: 178rpx;
	background: #FBFBFB;
	border-radius: 14rpx;
}
/* 设置中的tag选择 */
.subsection{
	border: 1rpx solid #0F58FB;
	border-radius: 10rpx;
	font-size: 24rpx;
	/* overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; */
}
.subsection .selected{
	background-color: #0F58FB;
	color: #FFFFFF;
	padding: 10rpx 20rpx;
}
.subsection .nomal{
	background-color: #FFFFFF;
	color: #0F58FB;
	padding: 10rpx 20rpx;
}
.subsection .border-right{
	border-right: 1rpx solid #0F58FB;
}
